

<div *ngIf="revistaId == 1">
    <ngx-extended-pdf-viewer 
    [src]="'https://luisyanezmedina.github.io/256_prueba.pdf'" 
    [showSidebarButton]="false"
    [showFindButton]="true"
    [showPagingButtons]="true"
    [showZoomButtons]="true"
    [showPresentationModeButton]="true"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showDownloadButton]="false"
    [showBookmarkButton]="false"
    [showSecondaryToolbarButton]="false"
    [showRotateButton]="false"
    [showHandToolButton]="false"
    [showScrollingButton]="false"
    [showSpreadButton]="false"
    [showPropertiesButton]="false"
    [ignoreKeyboard]="true"
    
    
    useBrowserLocale="true" height="100vh">
    </ngx-extended-pdf-viewer>
</div>
<div *ngIf="revistaId == 2"><p>revista 2 works!</p></div>

