<h2 mat-dialog-title>Aviso de Privacidad</h2>

<mat-dialog-content>

<p> Universidad Nacional Autónoma de México (UNAM) Revista ¿Cómo ves?
    Hecho en México. Todos los derechos reservados 2020. Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica, de otra forma, requiere permiso previo por escrito de la institución. Términos legales. Créditos.
    Sitio web administrado por: Dirección General de Divulgación de la Ciencia, redescv@dgdc.unam.mx </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="onNoClick()">Close</button>
</mat-dialog-actions>