<div class="top_panel_fixed_wrap"></div>
		<header class="top_panel_wrap bg_tint_dark bg_type_image menu_bg_color_1">
			<div class="menu_main_wrap logo_left">
				<div class="content_wrap clearfix">
					<div class="logo">
						<span class="logo_shape">
							<a href="index.html">
								<img src="assets/images/logo.png" class="logo_main" alt="">
								<img src="assets/images/logo.png" class="logo_fixed" alt="">
								<span class="logo_slogan"> </span>
							</a>
						</span>
					</div>
					
					<a href="#" class="menu_main_responsive_button icon-menu-1"> </a>
					<nav role="navigation" class="menu_main_nav_area menu_color_bg_2">
						<ul id="menu_main" class="menu_main_nav">
							<li class="menu-item current-menu-ancestor menu-item-has-children">
								<a >
									<span>UNAM-DGDC</span>
								</a>
						
							</li>
							<!-- <li class="menu-item menu-item-has-children">
								<a >
									<span>2020</span>
								</a>
								
							</li> -->
							
							<li id="blob">
								<span>
									<span></span>
								</span>
							</li>
						</ul>
					</nav>
				</div>
			</div>
        </header>
        
        <section id="mainslider_1" class="slider_wrap slider_fullwide slider_engine_revo slider_alias_homepage_slider_gym1 mainslider_1">
			<div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
				
				<div id="rev_slider_1" class="rev_slider fullwidthabanner">
					<ul>
						<li data-transition="slideup,slidedown,slideright,slideleft,fade,fadefromright,fadefromleft,fadefromtop,fadefrombottom" data-slotamount="7"  data-randomtransition="on" data-masterspeed="300"  data-saveperformance="off" >
							<img src="../assets/images/1920x1080.jpg"  alt="main-slider-1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
							<div class="tp-caption lfl"
								data-x="-100"
								data-y="-180"
								data-speed="900"
								data-start="0"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									<img src="assets/images/main-slider-el-1.png" alt="">
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption lfr"
								data-x="870"
								data-y="-450"
								data-speed="900"
								data-start="500"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									<img src="assets/images/main-slider-el-2.png" alt="">
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption -main-title tp-fade tp-resizeme"
								data-x="340"
								data-y="260"
								data-speed="600"
								data-start="500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									¿Cómo ves?
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption -main-title-sub tp-fade tp-resizeme"
								data-x="340"
								data-y="360"
								data-speed="600"
								data-start="1000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									digital
							</div>
							<!-- LAYER NR. 5 -->
							<div class="tp-caption -main-text tp-fade tp-resizeme"
								data-x="340"
								data-y="500"
								data-speed="600"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									Nos solidarizamos 
							</div>
							<!-- LAYER NR. 6 -->
							<div class="tp-caption -main-text tp-fade tp-resizeme"
								data-x="340"
								data-y="540"
								data-speed="600"
								data-start="1600"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								y abrimos nuestras 
							</div>
							<!-- LAYER NR. 7 -->
							<div class="tp-caption -main-text tp-fade tp-resizeme"
								data-x="340"
								data-y="580"
								data-speed="600"
								data-start="1700"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								páginas para todos
							</div>
							<!-- LAYER NR. 8 -->
							<div class="tp-caption black tp-fade tp-resizeme"
								data-x="340"
								data-y="660"
								data-speed="600"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									<a [routerLink]="['/revista',1]" class='tp-button lightgrey small'>DESCARGAR</a>
									
							</div>
							<!-- LAYER NR. 9 -->
							<div class="tp-caption tp-fade"
								data-x="center" data-hoffset="10"
								data-y="center" data-voffset="365"
								data-speed="300"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								<div class="tp-layer-inner-rotation1 rs-pulse"  data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="0.8" data-zoomend="0.9">
									<img src="assets/images/main-slider-el-3.png" alt="">
								</div>
							</div>
							<!-- LAYER NR. 10 -->
							<div class="tp-caption tp-fade tp-scrollbelowslider"
								data-x="center" data-hoffset="10"
								data-y="center" data-voffset="360"
								data-speed="300"
								data-start="2300"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								data-scrolloffset="1"
								>
								<div class="tp-layer-inner-rotation1 rs-pulse"  data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1.2">
									<a href="#">
										<img src="assets/images/main-slider-el-4.png" alt="">
									</a>
								</div>
							</div>
						<!-- LAYER NR. 11 -->
							<div class="tp-caption tp-fade"
								data-x="1010"
								data-y="bottom" data-voffset="-170"
								data-speed="300"
								data-start="2600"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									<img src="assets/images/main-slider-el-5.png" alt="">
							</div>
							<!-- LAYER NR. 12 -->
							<div class="tp-caption -main-text-sub tp-fade tp-resizeme"
								data-x="1060"
								data-y="725"
								data-speed="300"
								data-start="2800"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									MARZO
							</div>
						</li>
						<!-- SLIDE  -->
						<li data-transition="slideup,slidedown,slideright,slideleft,fade,fadefromright,fadefromleft,fadefromtop,fadefrombottom" data-slotamount="7"  data-randomtransition="on" data-masterspeed="300"  data-saveperformance="off" >
							<!-- MAIN IMAGE -->
							<img src="assets/images/slider2.jpg"  alt="main-slider-2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption lfl"
								data-x="-100"
								data-y="-180"
								data-speed="900"
								data-start="0"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									<img src="assets/images/main-slider-el-1.png" alt="">
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption lfr"
								data-x="870"
								data-y="-450"
								data-speed="900"
								data-start="500"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									<img src="assets/images/main-slider-el-2.png" alt="">
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption -main-title tp-fade tp-resizeme"
								data-x="340"
								data-y="280"
								data-speed="600"
								data-start="500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								¿Cómo ves?
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption -main-title-sub tp-fade tp-resizeme"
								data-x="340"
								data-y="390"
								data-speed="600"
								data-start="1000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								digital
							</div>
							<!-- LAYER NR. 5 -->
							<div class="tp-caption -main-text tp-fade tp-resizeme"
								data-x="340"
								data-y="500"
								data-speed="600"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								Nos solidarizamos 
							</div>
							<!-- LAYER NR. 6 -->
							<div class="tp-caption -main-text tp-fade tp-resizeme"
								data-x="340"
								data-y="540"
								data-speed="600"
								data-start="1600"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								y abrimos nuestras 
							</div>
							<!-- LAYER NR. 7 -->
							<div class="tp-caption -main-text tp-fade tp-resizeme"
								data-x="340"
								data-y="580"
								data-speed="600"
								data-start="1700"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								páginas para todos
							</div>
							<!-- LAYER NR. 8 -->
							<div class="tp-caption black tp-fade tp-resizeme"
								data-x="340"
								data-y="670"
								data-speed="600"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								<a class='tp-button lightgrey small' [routerLink]="['/revista',2]">DESCÁRGALA</a>
							</div>
							<!-- LAYER NR. 9 -->
							<div class="tp-caption tp-fade"
								data-x="center" data-hoffset="10"
								data-y="center" data-voffset="365"
								data-speed="300"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
								<div class="tp-layer-inner-rotation1   rs-pulse"  data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="0.8" data-zoomend="0.9">
									<img src="assets/images/main-slider-el-3.png" alt="">
								</div>
							</div>
							<!-- LAYER NR. 10 -->
							<div class="tp-caption tp-fade tp-scrollbelowslider"
								data-x="center" data-hoffset="10"
								data-y="center" data-voffset="360"
								data-speed="300"
								data-start="2300"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								data-scrolloffset="1"
								>
								<div class="tp-layer-inner-rotation1   rs-pulse"  data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1.2">
									<a href="#">
										<img src="assets/images/main-slider-el-4.png" alt="">
									</a>
								</div>
							</div>
							<!-- LAYER NR. 11 -->
							<div class="tp-caption tp-fade"
								data-x="1010"
								data-y="bottom" data-voffset="-170"
								data-speed="300"
								data-start="2600"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									<img src="assets/images/main-slider-el-5.png" alt="">
							</div>
							<!-- LAYER NR. 12 -->
							<div class="tp-caption -main-text-sub tp-fade tp-resizeme"
								data-x="1060"
								data-y="725"
								data-speed="300"
								data-start="2800"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								>
									ABRIL
							</div>
						</li>
						<!-- slide -->
						



					</ul>
				</div>
			</div>
        </section>
        
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="sc_content content_wrap">
                        <h2 class="sc_title style_1 sc_align_center">REVISTAS</h2>
                        <h5 class="sc_undertitle style_1 sc_align_center">Visualiza estos dos números</h5>
                        <div class="sc_blogger layout_excerpt_2 template_excerpt_2 custom_isotope sc_blogger_vertical no_description">
                            <div class="isotope_wrap" data-columns="2">
                                <div class="isotope_item isotope_item_excerpt isotope_item_excerpt_2 isotope_column_2">
                                    <div class="post_item post_item_excerpt post_format_link post">
                                        <div class="post_featured bg_image bg_image_11">
                                            <div class="post_thumb" data-title="Link post">
                                                <div class="post_content clearfix">
                                                    <div class="post_descr">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post_date">Marzo 2020</div>
                                        <div class="post_info">
                                            <span class="post_info_item post_info_posted">
                                                Publicada
                                                <a class="post_info_date">Marzo 2020</a>
                                            </span>
                                            <span class="post_info_item post_info_posted_by">
                                                por
                                                <a href="#" class="post_info_author">UNAM</a>
                                            </span>
                                            
                                        </div>
                                        <h3 class="post_title" style="float: left;">
                                        <a [routerLink]="['/revista',1]">
                                            <span class="post_icon icon-pitch"> </span>
											<span class="post_title_text" 
											style="font-size: 0.8em;letter-spacing: 1px;font-weight: 300;">DESCARGAR</span>
                                        </a>
										</h3>
										<div style="float: right;">
											<a href="https://luisyanezmedina.github.io/Coronavirus_256_01.png"
											target="_blank" 
											style="font-size: 25px !important;"
											class="icon-photo"></a>

											<a href="https://luisyanezmedina.github.io/00_guia_256 web.pdf"
											target="_blank" 
											style="font-size: 25px !important;margin-left: 10px;"
											class="icon-attach"></a>
											
										</div>
                                    </div>
                                </div>
                                <div class="isotope_item isotope_item_excerpt isotope_item_excerpt_2 isotope_column_2">
                                    <div class="post_item post_item_excerpt post_format_quote post">
                                        <div class="post_featured bg_image bg_image_12">
                                            <div class="post_thumb" data-title="Quote post">
                                                <div class="post_content clearfix">
                                                    <div class="post_descr">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post_date">Abril 2020</div>
                                        <div class="post_info">
                                            <span class="post_info_item post_info_posted">
                                                Publicada
                                                <a href="#" class="post_info_date">Abril 2020</a>
                                            </span>
                                            <span class="post_info_item post_info_posted_by">
                                                por
                                                <a href="#" class="post_info_author">UNAM</a>
                                            </span>
                                            
                                        </div>
                                        <h3 class="post_title" style="float: left;">
                                        <a [routerLink]="['/revista',2]">
                                            <span class="post_icon icon-pitch"> </span>
											<span class="post_title_text"
											style="font-size: 0.8em;letter-spacing: 1px;font-weight: 300;"
											>DESCARGAR</span>
                                        </a>
										</h3>
										<div style="float: right;">
											<a href="https://luisyanezmedina.github.io/Moda rapida 257_01.png"
											target="_blank" 
											style="font-size: 25px !important;"
											class="icon-photo"></a>

											<a href="https://luisyanezmedina.github.io/00_guia_257 web.pdf"
											target="_blank" 
											style="font-size: 25px !important;margin-left: 10px;"
											class="icon-attach"></a>
											
										</div>
                                    </div>
								</div>
								<!-- revista -->
								<div class="isotope_item isotope_item_excerpt isotope_item_excerpt_2 isotope_column_2">
                                    <div class="post_item post_item_excerpt post_format_link post">
                                        <div class="post_featured bg_image bg_image_13_rev">
                                            <div class="post_thumb" data-title="Link post">
                                                <div class="post_content clearfix">
                                                    <div class="post_descr">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post_date">Mayo 2020</div>
                                        <div class="post_info">
                                            <span class="post_info_item post_info_posted">
                                                Publicada
                                                <a class="post_info_date">Mayo 2020</a>
                                            </span>
                                            <span class="post_info_item post_info_posted_by">
                                                por
                                                <a href="#" class="post_info_author">UNAM</a>
                                            </span>
                                            
                                        </div>
                                        <h3 class="post_title" style="float: left;">
                                        <a [routerLink]="['/revista',3]">
                                            <span class="post_icon icon-pitch"> </span>
											<span class="post_title_text" 
											style="font-size: 0.8em;letter-spacing: 1px;font-weight: 300;">DESCARGAR</span>
                                        </a>
										</h3>
										<div style="float: right;">
											<a href="http://revistadigital.comoves.unam.mx/revistas/espacio_258.jpg"
											target="_blank" 
											style="font-size: 25px !important;"
											class="icon-photo"></a>

											<a href="http://revistadigital.comoves.unam.mx/revistas/guia_258web.pdf"
											target="_blank" 
											style="font-size: 25px !important;margin-left: 10px;"
											class="icon-attach"></a>
											
										</div>
                                    </div>
                                </div>
								<!-- /revista -->
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer_wrap bg_tint_light footer_style_light widget_area">
			<div class="content_wrap">
				<div class="columns_wrap">
					<aside class="column-1_4 widget widget_recent_comments">
						<h5 class="widget_title">Avisos</h5>
						<ul id="recentcomments">
							<li class="recentcomments">
								<span (click)="openDialog()" class="comment-author-link" style="cursor: pointer;">
									Ver aviso de privacidad
								</span>  
								
							</li>
						
						</ul>
					</aside>
			

					<div class="social" style="float: left;">
						<div class="sc_socials sc_socials_size_small">
							<div class="sc_socials_item">
								<a href="https://www.facebook.com/revistacomoves/" target="_blank" class="social_icons social_facebook icons">
									<span class="icon-facebook"> </span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="https://twitter.com/revistacomoves" target="_blank" class="social_icons social_twitter icons">
									<span class="icon-twitter"> </span>
								</a>
							</div>
							
						</div>
					</div>

					<aside class="column-1_3 widget widget_recent_comments" style="float: right;margin-left: 20px;">
						<img width="420" src="assets/images/logosunam.png" alt="">
					</aside>
					
				</div>
			</div>
			
		</footer>

		
        